@model GameInfoModel

@{
}

<h1 class="text-center">Want To Play</h1>


<form  asp-action="Search" method="post">
    <label asp-for="Name">Name:</label><input asp-for="Name" />
    <button type="submit">Search</button>
</form>

<a class="btn-outline-primary" asp-controller="WantToPlay" asp-action="Edit" asp-route-id="0">Add New Game</a>
<br />

<div class="border border-dark">
    <table class="table">
        <thead>
            <tr>
                <th class="mr-5">Game Name</th>
                <th class="mr-5">Game Release Date</th>
                <th>Game Platform</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in ViewBag.gameList)
            {
            <tr>
                <td class="background-green">@game.Name</td>
                <td>@game.ReleaseDate</td>
                <td>@game.Platform</td>
                <td><a asp-controller="WantToPlay" asp-action="Edit" asp-route-id="@game.GameID">Edit</a></td>
                <td><a asp-controller="WantToPlay" asp-action="Remove" asp-route-id="@game.GameID">Delete</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>